<div class="container">
  <div class="row">
    <div class="col-md-9 index-data">

      <% @posts.each do |post| %>

        <div class="row">
          <div class="data-index col-md-10 col-md-offset-1">
            <div class="col-md-2 post-data">
              <%= attachment_image_tag post.user, :profile_image, size:"80x80", format: "png", fallback: "no_image.png",class:"profile_image" %>
            </div>
            <div class="col-md-5 post-title-data">
              <span class="post-title-text">
                <%= link_to post_path(post.id) do %>
                  <%= post.title %>
                <% end %>
              </span>
            </div>
            <div class="col-md-2 post-day">
              <%= link_to post_path(post.id) do %>
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <span><%= post.post_comments.count %>件</span>
              <% end %>
            </div>
            <div class="col-md-3 post-day">
              <%= post.created_at.strftime('%Y/%m/%d') %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 center">
          <%= paginate @posts %>
        </div>
      </div>

    </div>

    <div class="col-md-3">
      <% if user_signed_in? %>
        <div class="row user-info">
          <div class="col-md-10 col-md-offset-1 center">
            <%= attachment_image_tag current_user, :profile_image, size:"120x120", format: "png", fallback: "no_image.png",class:"profile_image" %>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 field-row">
              <table class="table">
                <tbody>
                  <tr>
                    <th class="col-md-5">
                      ユーザ名:
                    </th>
                    <th class="col-md-7">
                      <%= current_user.name %>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 center">
              <%= link_to user_path(current_user.id) do %>
                <button class="btn btn-primary">マイページ</button>
              <% end %>
            </div>
          </div>
        </div>

      <% else %>
        <div class="user-info col-md-12">
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">
                ＜未登録の方＞<br>
                アカウント登録してFampを<br>
                使ってみましょう！
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 center field-row">
              <%= link_to new_user_registration_path do %>
                <button class="btn btn-warning">アカウント作成</button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>