<div class="container">

  <div class="row">
    <div class="data col-md-6 col-md-offset-3">
      <div class="field-row">
        <%= attachment_image_tag @post.user, :profile_image, size:"60x60", format: "png", fallback: "no_image.png",class:"profile_image" %>
        <span>
          <%= link_to user_path(@post.user.id) do %>
            <%= @post.user.name %>
          <% end %>
        </span>
      </div>

      <div>
        <h3><%= @post.title %></h3>
      </div>

      <div class="post-content">
        <p><%= @post.content %></p>
      </div>
    </div>
  </div>

  <% if @post.user.id == current_user.id %>
    <div class="row">
      <div class="col-md-12">
        <div class="field-row center">
          <%= link_to post_path(@post),method: :delete,"data-confirm" => "この投稿を削除しますか？" do %>
            <button class="btn btn-danger">削除</button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row field-row">
    <div class="col-md-8 col-md-offset-2">
      <h2>コメント<span class="comment-count">（<%= @post.post_comments.count %>件）</span></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 data">
      <% @post.post_comments.each do |comment| %>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag comment.user, :profile_image, size:"30x30", format: "png", fallback: "no_image.png",class:"profile_image" %>
                <span>
                  <%= link_to user_path(comment.user.id) do %>
                    <%= comment.user.name %>
                  <% end %>
                </span>
              </td>
              <td>
                <%= comment.comment %>
              </td>
              <td>
                <%= comment.created_at.strftime('%Y/%m/%d') %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= form_for [@post,@post_comment] do |f| %>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 center comment-box">
            <%= f.text_area :comment,rows:'5',cols:'70' %>
          </div>
        </div>
        <div class="row comment-action-row">
          <div class="center">
            <%= f.submit "送信",class:"btn btn-default" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
