<!DOCTYPE html>
<html>
  <head>
    <title>Famp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="header-logo">
              <%= link_to posts_path do %>
                <%= image_tag "/images/Famplogo.png",class:"logo" %>
              <% end %>
            </div>

            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? && current_user.admin? %>
                  <li class="">
                    <%= link_to root_path do %>
                      <span class="glyphicon glyphicon-home nav-text nav-text1" aria-hidden="true"></span>
                      <span class="nav-text nav-text1">TOP</span>
                    <% end %>
                  </li>
                  <li class="">
                    <%= link_to users_path do %>
                      <span class="glyphicon glyphicon-user nav-text nav-text9" aria-hidden="true"></span>
                      <span class="nav-text nav-text9">ユーザ一覧</span>
                    <% end %>
                  </li>
                  <li class="">
                    <%= link_to posts_path do %>
                      <span class="glyphicon glyphicon-list-alt nav-text nav-text2" aria-hidden="true"></span>
                      <span class="nav-text nav-text2">投稿一覧</span>
                    <% end %>
                  </li>
                  <li class="">
                    <%= link_to new_post_path do %>
                      <span class="glyphicon glyphicon-pencil nav-text nav-text3" aria-hidden="true"></span>
                      <span class="nav-text nav-text3">新規投稿</span>
                    <% end %>
                  </li>
                  <li class="">
                    <%= link_to destroy_user_session_path,:method => :delete,"data-confirm" => "ログアウトしますか？" do %>
                      <span class="glyphicon glyphicon-log-out nav-text nav-text4" aria-hidden="true"></span>
                      <span class="nav-text nav-text4">ログアウト</span>
                    <% end %>
                  </li>

                <% elsif user_signed_in? %>
                  <li class="">
                    <%= link_to root_path do %>
                      <span class="glyphicon glyphicon-home nav-text nav-text1" aria-hidden="true"></span>
                      <span class="nav-text nav-text1">TOP</span>
                    <% end %>
                  </li>
                  <li class="">
                    <%= link_to posts_path do %>
                      <span class="glyphicon glyphicon-list-alt nav-text nav-text2" aria-hidden="true"></span>
                      <span class="nav-text nav-text2">投稿一覧</span>
                    <% end %>
                  </li>
                  <li class="">
                    <%= link_to new_post_path do %>
                      <span class="glyphicon glyphicon-pencil nav-text nav-text3" aria-hidden="true"></span>
                      <span class="nav-text nav-text3">新規投稿</span>
                    <% end %>
                  </li>
                  <li class="">
                    <%= link_to destroy_user_session_path,:method => :delete,"data-confirm" => "ログアウトしますか？" do %>
                      <span class="glyphicon glyphicon-log-out nav-text nav-text4" aria-hidden="true"></span>
                      <span class="nav-text nav-text4">ログアウト</span>
                    <% end %>
                  </li>

                <% else %>
                  <li class="">
                    <%= link_to root_path do %>
                      <span class="glyphicon glyphicon-home nav-text nav-text5" aria-hidden="true"></span>
                      <span class="nav-text nav-text5">TOP</span>
                    <% end %>
                  </li>
                  <li class="">
                    <%= link_to posts_path do %>
                      <span class="glyphicon glyphicon-list-alt nav-text nav-text6" aria-hidden="true"></span>
                      <span class="nav-text nav-text6">投稿一覧</span>
                    <% end %>
                  </li>
                  <li class="">
                    <%= link_to new_user_session_path do %>
                      <span class="glyphicon glyphicon-log-in nav-text nav-text7" aria-hidden="true"></span>
                      <span class="nav-text nav-text7">ログイン</span>
                    <% end %>
                  </li>
                  <li class="">
                    <%= link_to  new_user_registration_path do %>
                      <span class="glyphicon glyphicon-edit nav-text nav-text8" aria-hidden="true"></span>
                      <span class="nav-text nav-text8">新規登録</span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
